# requirements.txt

# --- 뼈대 ---
streamlit
pandas
matplotlib

# --- 머신러닝 모델 ---
scikit-learn
joblib
xgboost

# --- LLM & RAG ---
langchain
langchain-community
langchain-chroma
sentence-transformers
ollama